<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spldeolin.satisficing.security.service.mapper.UserMapper">
    <!-- [START] Any modifications may be overwritten by future code generations. Allison 1875 Lot No: PG1001S-F7A47F26 -->

    <resultMap id="all" type="com.spldeolin.satisficing.security.service.entity.UserEntity">
        <id column="id" property="id"/>
        <result column="user_uuid" property="userUuid"/>
        <result column="username" property="username"/>
        <result column="mobile" property="mobile"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="create_user_uuid" property="createUserUuid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_uuid" property="updateUserUuid"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="all">
        `id`, `user_uuid`, `username`, `mobile`, `password`, `nick_name`, `create_user_uuid`, `create_time`,
        `update_user_uuid`, `update_time`
    </sql>

    <insert id="insert" parameterType="com.spldeolin.satisficing.security.service.entity.UserEntity">
        <!-- @formatter:off -->
        INSERT INTO `user`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null"> `id`, </if>
            <if test="userUuid!=null"> `user_uuid`, </if>
            <if test="username!=null"> `username`, </if>
            <if test="mobile!=null"> `mobile`, </if>
            <if test="password!=null"> `password`, </if>
            <if test="nickName!=null"> `nick_name`, </if>
            <if test="createUserUuid!=null"> `create_user_uuid`, </if>
            <if test="createTime!=null"> `create_time`, </if>
            <if test="updateUserUuid!=null"> `update_user_uuid`, </if>
            <if test="updateTime!=null"> `update_time`, </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id!=null"> #{id}, </if>
            <if test="userUuid!=null"> #{userUuid}, </if>
            <if test="username!=null"> #{username}, </if>
            <if test="mobile!=null"> #{mobile}, </if>
            <if test="password!=null"> #{password}, </if>
            <if test="nickName!=null"> #{nickName}, </if>
            <if test="createUserUuid!=null"> #{createUserUuid}, </if>
            <if test="createTime!=null"> #{createTime}, </if>
            <if test="updateUserUuid!=null"> #{updateUserUuid}, </if>
            <if test="updateTime!=null"> #{updateTime}, </if>
        </trim>
        <!-- @formatter:on -->
    </insert>

    <insert id="batchInsert">
        <!-- @formatter:off -->
        <foreach collection="entities" item="one" separator=";">
            INSERT INTO `user`
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="one.id!=null"> `id`, </if>
                <if test="one.userUuid!=null"> `user_uuid`, </if>
                <if test="one.username!=null"> `username`, </if>
                <if test="one.mobile!=null"> `mobile`, </if>
                <if test="one.password!=null"> `password`, </if>
                <if test="one.nickName!=null"> `nick_name`, </if>
                <if test="one.createUserUuid!=null"> `create_user_uuid`, </if>
                <if test="one.createTime!=null"> `create_time`, </if>
                <if test="one.updateUserUuid!=null"> `update_user_uuid`, </if>
                <if test="one.updateTime!=null"> `update_time`, </if>
            </trim>
            <trim prefix="VALUE (" suffix=")" suffixOverrides=",">
                <if test="one.id!=null"> #{one.id}, </if>
                <if test="one.userUuid!=null"> #{one.userUuid}, </if>
                <if test="one.username!=null"> #{one.username}, </if>
                <if test="one.mobile!=null"> #{one.mobile}, </if>
                <if test="one.password!=null"> #{one.password}, </if>
                <if test="one.nickName!=null"> #{one.nickName}, </if>
                <if test="one.createUserUuid!=null"> #{one.createUserUuid}, </if>
                <if test="one.createTime!=null"> #{one.createTime}, </if>
                <if test="one.updateUserUuid!=null"> #{one.updateUserUuid}, </if>
                <if test="one.updateTime!=null"> #{one.updateTime}, </if>
            </trim>
        </foreach>;
        <!-- @formatter:on -->
    </insert>

    <insert id="batchInsertEvenNull">
        <!-- @formatter:off -->
        INSERT INTO `user`
            ( <include refid="all"/> )
        VALUES
            <foreach collection="entities" item="one" separator=",">(
                #{one.id}, #{one.userUuid}, #{one.username}, #{one.mobile}, #{one.password}, #{one.nickName},
                #{one.createUserUuid}, #{one.createTime}, #{one.updateUserUuid}, #{one.updateTime}
            )</foreach>
        <!-- @formatter:on -->
    </insert>

    <update id="batchUpdate">
        <foreach collection="entities" item="one" separator=";">
            <!-- @formatter:off -->
            UPDATE `user`
            <set>
                <if test="one.userUuid!=null"> `user_uuid` = #{one.userUuid}, </if>
                <if test="one.username!=null"> `username` = #{one.username}, </if>
                <if test="one.mobile!=null"> `mobile` = #{one.mobile}, </if>
                <if test="one.password!=null"> `password` = #{one.password}, </if>
                <if test="one.nickName!=null"> `nick_name` = #{one.nickName}, </if>
                <if test="one.createUserUuid!=null"> `create_user_uuid` = #{one.createUserUuid}, </if>
                <if test="one.createTime!=null"> `create_time` = #{one.createTime}, </if>
                <if test="one.updateUserUuid!=null"> `update_user_uuid` = #{one.updateUserUuid}, </if>
                <if test="one.updateTime!=null"> `update_time` = #{one.updateTime}, </if>
            </set>
            WHERE 1 = 1
              AND `id` = #{one.id}
            <!-- @formatter:on -->
        </foreach>
    </update>

    <update id="batchUpdateEvenNull">
        <foreach collection="entities" item="one" separator=";">
            <!-- @formatter:off -->
            UPDATE `user`
            SET
                `user_uuid` = #{one.userUuid},
                `username` = #{one.username},
                `mobile` = #{one.mobile},
                `password` = #{one.password},
                `nick_name` = #{one.nickName},
                `create_user_uuid` = #{one.createUserUuid},
                `create_time` = #{one.createTime},
                `update_user_uuid` = #{one.updateUserUuid},
                `update_time` = #{one.updateTime}
            WHERE 1 = 1
              AND `id` = #{one.id}
            <!-- @formatter:on -->
        </foreach>
    </update>

    <select id="queryById" parameterType="Long" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `user`
        WHERE 1 = 1
          AND `id` = #{id}
        <!-- @formatter:on -->
    </select>

    <update id="updateById" parameterType="com.spldeolin.satisficing.security.service.entity.UserEntity">
        <!-- @formatter:off -->
        UPDATE `user`
        <set>
            <if test="userUuid!=null"> `user_uuid` = #{userUuid}, </if>
            <if test="username!=null"> `username` = #{username}, </if>
            <if test="mobile!=null"> `mobile` = #{mobile}, </if>
            <if test="password!=null"> `password` = #{password}, </if>
            <if test="nickName!=null"> `nick_name` = #{nickName}, </if>
            <if test="createUserUuid!=null"> `create_user_uuid` = #{createUserUuid}, </if>
            <if test="createTime!=null"> `create_time` = #{createTime}, </if>
            <if test="updateUserUuid!=null"> `update_user_uuid` = #{updateUserUuid}, </if>
            <if test="updateTime!=null"> `update_time` = #{updateTime}, </if>
        </set>
        WHERE 1 = 1
          AND `id` = #{id}
        <!-- @formatter:on -->
    </update>

    <update id="updateByIdEvenNull" parameterType="com.spldeolin.satisficing.security.service.entity.UserEntity">
        <!-- @formatter:off -->
        UPDATE `user`
        SET
            `user_uuid` = #{userUuid},
            `username` = #{username},
            `mobile` = #{mobile},
            `password` = #{password},
            `nick_name` = #{nickName},
            `create_user_uuid` = #{createUserUuid},
            `create_time` = #{createTime},
            `update_user_uuid` = #{updateUserUuid},
            `update_time` = #{updateTime}
        WHERE 1 = 1
          AND `id` = #{id}
        <!-- @formatter:on -->
    </update>

    <select id="queryByIds" parameterType="Long" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `user`
        WHERE 1 = 1
          AND `id` IN (<foreach collection="ids" item="one" separator=",">#{one}</foreach>)
        <!-- @formatter:on -->
    </select>

    <select id="queryByIdsEachId" parameterType="Long" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `user`
        WHERE 1 = 1
          AND `id` IN (<foreach collection="ids" item="one" separator=",">#{one}</foreach>)
        <!-- @formatter:on -->
    </select>

    <select id="queryByEntity" parameterType="com.spldeolin.satisficing.security.service.entity.UserEntity"
        resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `user`
        WHERE 1 = 1
          <if test="id!=null"> AND `id` = #{id} </if>
          <if test="userUuid!=null"> AND `user_uuid` = #{userUuid} </if>
          <if test="username!=null"> AND `username` = #{username} </if>
          <if test="mobile!=null"> AND `mobile` = #{mobile} </if>
          <if test="password!=null"> AND `password` = #{password} </if>
          <if test="nickName!=null"> AND `nick_name` = #{nickName} </if>
          <if test="createUserUuid!=null"> AND `create_user_uuid` = #{createUserUuid} </if>
          <if test="createTime!=null"> AND `create_time` = #{createTime} </if>
          <if test="updateUserUuid!=null"> AND `update_user_uuid` = #{updateUserUuid} </if>
          <if test="updateTime!=null"> AND `update_time` = #{updateTime} </if>
        <!-- @formatter:on -->
    </select>

    <select id="listAll" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `user`
        WHERE 1 = 1
        <!-- @formatter:on -->
    </select>

    <insert id="insertOrUpdate" parameterType="com.spldeolin.satisficing.security.service.entity.UserEntity">
        <!-- @formatter:off -->
        INSERT INTO `user`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null"> `id`, </if>
            <if test="userUuid!=null"> `user_uuid`, </if>
            <if test="username!=null"> `username`, </if>
            <if test="mobile!=null"> `mobile`, </if>
            <if test="password!=null"> `password`, </if>
            <if test="nickName!=null"> `nick_name`, </if>
            <if test="createUserUuid!=null"> `create_user_uuid`, </if>
            <if test="createTime!=null"> `create_time`, </if>
            <if test="updateUserUuid!=null"> `update_user_uuid`, </if>
            <if test="updateTime!=null"> `update_time`, </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id!=null"> #{id}, </if>
            <if test="userUuid!=null"> #{userUuid}, </if>
            <if test="username!=null"> #{username}, </if>
            <if test="mobile!=null"> #{mobile}, </if>
            <if test="password!=null"> #{password}, </if>
            <if test="nickName!=null"> #{nickName}, </if>
            <if test="createUserUuid!=null"> #{createUserUuid}, </if>
            <if test="createTime!=null"> #{createTime}, </if>
            <if test="updateUserUuid!=null"> #{updateUserUuid}, </if>
            <if test="updateTime!=null"> #{updateTime}, </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="userUuid!=null"> `user_uuid` = #{userUuid}, </if>
            <if test="username!=null"> `username` = #{username}, </if>
            <if test="mobile!=null"> `mobile` = #{mobile}, </if>
            <if test="password!=null"> `password` = #{password}, </if>
            <if test="nickName!=null"> `nick_name` = #{nickName}, </if>
            <if test="createUserUuid!=null"> `create_user_uuid` = #{createUserUuid}, </if>
            <if test="createTime!=null"> `create_time` = #{createTime}, </if>
            <if test="updateUserUuid!=null"> `update_user_uuid` = #{updateUserUuid}, </if>
            <if test="updateTime!=null"> `update_time` = #{updateTime}, </if>
        </trim>
        <!-- @formatter:on -->
    </insert>

    <!-- [END] Any modifications may be overwritten by future code generations. Allison 1875 Lot No: PG1001S-F7A47F26 -->
    <select id="getByUsernameOrMobile" resultMap="all">
        <!-- @formatter:off -->
        SELECT
        <include refid="all"/>
        FROM `user`
        WHERE username = #{username}
           OR mobile = #{mobile}
        <!-- @formatter:on -->
    </select>
    <!-- Allison 1875 Lot No: QT1001S-CCA44D8E -->
    <select id='queryUser' resultMap='all'>
        <!-- @formatter:off -->
        SELECT
            <include refid='all' />
        FROM
            `user`
        WHERE TRUE
          AND `user_uuid` = #{userUuid}
        LIMIT 1
        <!-- @formatter:on -->
    </select>
    <!-- Allison 1875 Lot No: QT1001S-1B2F0DC4 -->
    <select id='queryUserEx' parameterType='com.spldeolin.satisficing.security.service.javabean.cond.QueryUserCond'
        resultType='com.spldeolin.satisficing.security.service.javabean.record.QueryUserExRecord'>
        <!-- @formatter:off -->
        SELECT t1.`id` AS userId,
            t1.`user_uuid` AS userUuid,
            t1.`username` AS username,
            t1.`mobile` AS mobile,
            t1.`nick_name` AS nickName,
            t1.`create_user_uuid` AS createUserUuid,
            t1.`create_time` AS createTime,
            t1.`update_user_uuid` AS createUserUuid,
            t1.`update_time` AS updateTime,
            GROUP_CONCAT(REPLACE(t3.role_name, ',', '\\,')) AS roleNames,
            GROUP_CONCAT(REPLACE(t5.department_name, ',', '\\,')) AS departmentNames
        FROM
            `user` t1
        LEFT JOIN user2role t2 ON t1.id = t2.user_id
        LEFT JOIN role t3 ON t2.role_id = t3.id
        LEFT JOIN user2department t4 ON t1.id = t4.user_id
        LEFT JOIN department t5 ON t4.department_id = t5.id
        WHERE TRUE
        <if test="username != null and username != ''">
            AND t1.`username` LIKE CONCAT('%', #{username}, '%')
        </if>
        <if test="mobile != null and mobile != ''">
            AND t1.`mobile` LIKE CONCAT('%', #{mobile}, '%')
        </if>
        <if test="nickName != null and nickName != ''">
            AND t1.`nick_name` LIKE CONCAT('%', #{nickName}, '%')
        </if>
        <if test="createTime != null">
            AND t1.`create_time` >= #{createTime}
        </if>
        <if test="createTimeEx != null">
            AND t1.`create_time` &lt;= #{createTimeEx}
        </if>
        <if test="roleId != null">
            AND t2.role_id = #{roleId}
        </if>
        <if test="departmentId != null">
            AND t4.department_id = #{departmentId}
        </if>
        <!-- @formatter:on -->
    </select>
    <!-- Allison 1875 Lot No: QT1001S-0C147D98 -->
    <select id='queryUserEx2' resultMap='all'>
        <!-- @formatter:off -->
        SELECT
            <include refid='all' />
        FROM
            `user`
        WHERE TRUE
        <if test="userUuid != null and userUuid != ''">
            AND `user_uuid` != #{userUuid}
        </if>
            AND ( `username` = #{username} OR `mobile` = #{mobile} )
        LIMIT 1
        <!-- @formatter:on -->
    </select>
</mapper>